* {
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

body {
    background-image: url("../images/intersection/intersection.png");
    background-color: aqua;

    margin: 0;
    overflow-y: scroll;

}

h1 {
    color: white;
    background: #4aaaa5;
    display: inline-block;
    padding: 20px;
    position: relative;
    left: 0;
}

header {
    background-color: #ffffff;
    border: #cccccc solid thin;
    overflow-x: hidden;
}

.headerContent {
    width: 960px;
    /* width: 80%; */

    margin: auto;
    position: relative;

    overflow: hidden;
    /*temp*/
    /* border: yellow dashed; */
}

nav {
    /* border: red dashed; */

    display: inline-block;
    position: absolute;
    right: 0%;
    top: 40%;
    

}

.pageLink {
    /* border: blue dashed; */
    

    /*test space*/



    margin: 10px;
    text-decoration: none;
}

.pageLink:visited {
    text-decoration: none;
}

.pageLink:hover {
    background-color: silver;
}

.footer {
    background-color: #666666;
    border-top: #4aaaa5 solid 8px;

    height: 45px;

    position: sticky;
    bottom: 0;

}

#footerText {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 10px;

    position: absolute;
    bottom: 0;
    height: 20px;
    
}

h2 {
    color: #4aaaa5;
    padding: 0 20px;
}


h1, h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

/* 
.pageBackground {
    border: green dashed;
} */



section {
    width: 960px;
    /* width: 80%; */

    overflow: hidden;
    /* margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%; */

    margin: 4% auto;

    background-color: #ffffff;
    /* position: relative; */
    /* border: blue dashed; */

    
}

.mainContent {
    /* border: blue dashed; */
    border-top: #dddddd solid;
    
    width: 920px;
    margin: auto;   
    
    position: relative;
    /* left: 20px; */
}

p {
    line-height: 30px;
    padding: 20px 8px;

    /* border: red dashed; */
}

.portItem {
    /* border: green dashed; */

    overflow: auto;
    width: 30%;
    height: 10%;
    margin: 20px;
    float: left;
    position: relative;
}

.portItemLabel  {
    /* border: black dashed; */

    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 5%;
    
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    line-height: 100%;
    
}

img {
    width:  100%;
    height: 100%;
    float: left;
    /* position: absolute;
    left: 10%; */
}

.clear {
    clear: left;
}

#profileImg {
    /* border: green dashed; */
    
    float: left;
    width: 25%;

    /* margin-top: 20px; */
    padding-top: 8px;
    
    /* opacity: .25; */

    /* margin-left: 20px;
    margin-right: 20px; */
}

#firstPara {

    float: right;

    height: 160px;
    width: 75%;
    margin-top: 0;
}

form {
    border: blue dashed;
    position: relative;
}

.firstName {
    border: red dashed;
    width: 50%;
    float: left;
    
}

.lastName {
    border: purple dashed;
    width: 50%;
    float: left;   
}

.email {
    border: yellow dashed;
}

input, textarea {
    background-color: beige;
    margin: 5px 0;
    width: 100%;
}

.NameInput {
    
    /* width: 60%; */
    
}

.emailInput {
    /* width: 60%; */
}

.messageInput {
    width: 100%;
    max-width: 100%;
    height: 150px;

    border: orange dashed;
}

.sendButton {
    width: 10%;
    color: white;
    background-color: #4aaaa5;
    border: none;
    padding: 5px 0;
}

